<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="login-box">
        <div class="login-header">
            <header>Login</header>
        </div>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="input-box">
                <input type="text" class="input-field" name="username" placeholder="Username" required>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" name="password" placeholder="Password" required>
            </div>

            <div class="input-submit">
                <button class="submit-btn" type="submit">Log In</button>
            </div>
        </form>

        <div class="sign-up-link">
            <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        </div>
    </div>
</body>
</html>
