<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PBD ASSIGNMENT</title>
    
</head>
<body>
    <div class="banner">
        </div>
        <div class="content">
            <h1>Welcome to my E-Commerce App</h1>
            <p>Created by Derensh Pandian, Class PBD KKI.</p>
            <div>
                <button type="button"><span></span>Hai</button>
                <button type="button"><span></span>Okay</button>
                <button type="button"><span></span>Bye</button>
            </div>
        </div>
    </div>
</body>
</html>
